<html>
    <head>
        {% if title %}
        <title>{{ title }} - shop</title>
        {% else %}
        <title>Shop</title>
        {% endif %}
    </head>
    <body>
<div>
    Shop:
    <a href="{{ url_for('auth.index') }}">Home</a>
    <a href="{{ url_for('products.showproducts') }}">Products</a>
    {% if current_user.is_anonymous %}
    <a href="{{ url_for('auth.login') }}">Login</a>
    {% else %}
    <a href="{{ url_for('auth.logout') }}">Logout</a>
    {% endif %}
    {% if current_user.position == 'admin' %}
    </br> Admin:
    <a href="{{ url_for('shops.addshop') }}">Add Shop</a>
    <a href="{{ url_for('products.addproduct') }}">Add Product</a>
    <a href="{{ url_for('shops.producttoshop') }}">Add Product to Shop</a>
    {% endif %}
</div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>