{% extends "base.html" %}

{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>

        {% for product in products %}

            <tr>
                {% for name, values in product.items() %}
                    <td>{{ name }}</td>
                    <td>{{ values['q'] }}</td>
                    <td>${{ fix(values['p']) }}</td>
                    <td>${{ fix(values['t']) }}</td>
                {% endfor %}
            </tr>

        {% endfor %}

        </tbody>
    </table>

    <h3>Total: ${{ fix(total) }}</h3>

    <a href="{{ url_for('products.checkout') }}" class="btn btn-large btn-primary">Check Out</a></br>
    <a href="{{ url_for('products.clear') }}" class="btn btn-large btn-primary">Clear</a></br>

{% endblock %}